@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Officer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.Rank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.Rank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.Assignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.Assignment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.Station)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.Station)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Officer.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Officer.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Officer.SerialNo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
